.title{
    font-family: comfortaa, cursive;
    font-size: clamp(28px, 5vw, 48px);
    font-weight: bold;
    color: rgba(215, 69, 195, 0.729);
    text-align: center;
    text-shadow: 3px 5px 4px rgba(215, 69, 195, 0.729);
    position: relative;
    box-shadow: 0 0 0 10px rgba(153, 22, 153, 0.233);
    box-sizing: border-box;
}

.banner{
    position: relative;
    width: 100%;
    max-width: 1200px;
    max-height: fit-content;
    height: auto;
    margin: 20px auto;
    padding: 60px 20px;
    text-align: center;
    overflow: hidden;
}



.bannerflower,
.bannerflower1,
.bannerflower2,
.bannerflower3{
    position: absolute;
    width: 90%;

    max-width: 110px;
    pointer-events: none;
}


.bannerflower{
    bottom: 35px;
    left: -15px;
}


.bannerflower1{
    top: 35px;
    left: -15px;
}


.bannerflower2{
    top: 35px;
    right: -15px;
}


.bannerflower3{
    bottom: 35px;
    right: -15px;
}



.title{
    font-family: comfortaa, cursive;
    font-size: clamp(28px, 5vw, 48px);
    font-weight: bold;
    color: rgba(215, 69, 195, 0.729);
    text-align: center;
    text-shadow: 3px 5px 4px rgba(215, 69, 195, 0.729);
    position: relative;
    box-shadow: 0 0 0 10px rgba(219, 44, 219, 0.233);
    box-sizing: border-box;
}







body{
    background-color: rgba(197, 18, 213, 0.25);
    margin:10px;
    padding:0;
}

h1{
    text-spacing:2px;
}
h2{
    text-align: center;
    font-size: xx-larger;
    text-spacing:2px;
}
.button{
    border: none;
    border-color: rgb(194, 44, 126);
    border-radius: 1cqmax;
    display: flex;
    font-weight:700;
    font-size: larger;
    flex-direction: column;
    justify-content: center;   /* vertical center */
    align-items: center;       /* horizontal center */
    text-align: center;
    color:rgba(230, 230, 230, 0.479);
    
    box-shadow:2px 2px 4px rgba(123, 46, 231, 0.671);
    margin:4px 2px;
    padding: 15px 32px ;
    
}

.birthday-girl{
    position: relative;
    display: inline-block;
}

.birthday-girl .birthday-img{
    display: block;
    width: min(80vw, 300px);
    height: 300px;
    object-fit: cover;
    box-shadow:0 0 0 10px rgba(242, 0, 255, 0.233);
}

.birthday-girl .overlay{
    position: absolute;
    top: 180px;
    right: 180px;
    width: 160px;
    height: auto;
    z-index: 10;
    pointer-events: none;
}
.birthday-girl .overlay1{
    position: absolute;
    top: -50px;
    right: -50px;
    width: 160px;
    height: auto;
    z-index: 10;
    pointer-events: none;
}
.Picture button{
    background-color: rgb(102, 67, 255,0.16);
}

.button2{
    background-color: rgba(171, 106, 236, 0.65);
    
    text-decoration:none;
}

.Small-message{
    text-align:center;
    font-family: pacifico,cursive;
    color:rgb(24,50,127,0.65);
    text-shadow: 1px 2px 2px rgb(24,50,127,0.65);
    border:2px;
    border-radius: 1cqmax;
}
.Appreciation-card,.signature{
    display:flex;
    justify-content:center;
    font-family: pacifico,cursive;

}


.signature p{
    font-family: pacifico,cursive;
    text-align: right;
    color:rgb(58, 9, 118,0.65);
    text-shadow: 1px 2px 2px rgb(58, 9, 118,0.75);
}

